<!DOCTYPE html>
<html>
<body>
<h1>Hello World</h1>
<h2>IPADDRESS: <%= node['ipaddress'] %> </h2>
<h2>HOSTNAME: <%= node['hostname'] %> </h2>
<p>This is my first chef job with webserver.</p>
<p>I am excited to do this.</p>
<p>Go through the following link to gain more knowledge about chef using AWS.</p>
<a href="https://learn.chef.io/tutorials/learn-the-basics/rhel/aws">This is a link</a>
</body>
</html>

